.border-box-product{
    border: 1px solid gray;
    width: 95%;
    height: 60vh;
    overflow-y: auto;
}

.border-selected{
    border: 1px solid gray;
    padding: 10px;
    border-radius: 7px;
    margin-left: 5px;
    margin-right: 5px;
}
.border-selected:hover{
    background-color: lightblue;
    cursor: pointer;
}